## Build tools
wheel

# Core Quarto/Jupyter
jupyter
ipywidgets
nbconvert
ipykernel
nbformat
nbclient

## Settings
pyyaml

## Data science core
numpy
pandas
scikit-learn
scipy
statsmodels
scikit-image

## Visualization
matplotlib
seaborn
plotly

## Machine learning special
xgboost
